* {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	display: flex;
}
.not-pH {
	display: flex;
	flex-direction: column;
	flex: 2 0 auto;
}
.pH1,
.pH2 {
	background-color: #1f2937;
	color: #1f2937;
}
.header {
	display: flex;
	padding-top: 10px;
}

.header > h1 {
	color: #e5e7eb;
}
.header > ul {
	display: flex;
	flex: 1 0 auto;
	justify-content: flex-end;
	gap: 30px;
}
.header,
.header2,
.footer {
	background-color: #1f2937;
}
.header > ul > li,
.header2 > p,
.header2 > button {
	font-size: 18px;
	color: #e5e7eb;
}
.header > ul > li {
	text-decoration: none;
	list-style-type: none;
}
.header2 {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	padding-bottom: 50px;
}
.header2 > img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 300px;
	align-self: flex-end;
	flex: 1 1 0;
}
.header2 > .sub-header2 {
	display: flex;
	flex-direction: column;
	flex: 2 0 0;
}

.header2 > .sub-header2 > button {
	background-color: #3882f6;
	width: 80px;
	border-radius: 2px 4px 6px 1px;
	color: white;
	font-weight: bolder;
	height: 20px;
	font-size: 11px;
}
.header2 > .sub-header2 > h1 {
	font-size: 48px;
	font-weight: 800;
	color: #f9faf8;
}
.header2 > .sub-header2 > p {
	color: white;
	text-align: left;
}
.first-division {
	background-color: #1f2937;
	height: 70px;
	color: #1f2937;
}
/*!--------------- second level------------------- */
/*? Information section TWO CHILDREN*/
/*? Information Text Title */
/*? Individual Images */
.not-pH > .information {
	display: flex;
	flex-direction: column;
}

/*! 1st child Information Text */
.not-pH > .information > .information-text {
	text-align: center;
}
.not-pH > .information > .information-text > h1 {
	font-size: 40px;
	font-weight: 800;
	padding-bottom: 20px;
}
/*! 2nd child Information Images */
.not-pH > .information > .information-images {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.small-sq {
	/*child of big square */
	width: 85px;
	min-height: 80px;
	border: solid;
	border-radius: 20px;
	border-color: #3882f6;
}
.big-sq {
	/*parent of both the small sq with border and the p element */
	display: flex;
	flex-direction: column;
}
